*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
p{
    font-size: 12px;
}
hr{
    margin-top: 10px;
}
ul{
    float: left;
    margin-left: 40px;
    line-height: 30px;
}
li{
    display: inline-block;
    margin-left: 8px;
    border-right: 1px solid black;   
}
li:last-child{
    border-right: none;
}
a{
    color: black;
    font-size: 16px;  
    padding-right: 8px;
}

a:hover{
    color: darkmagenta;
}

.search-box{
    line-height: 30px;
    margin-left: 1150px;

}

/*---------logo----------*/

.logo{
    font-size: 36px;
    color: coral;
    font-weight: bold;
    margin-left: 47px;
}
.p{
    margin-left: 47px;
    font-size: 12px;
}

h4{
   float: right;
   margin-right: 40px;
   margin-top: 20px;
   font-size: 12px;
}

/*-----------marquee------*/

.test{
    width: 93%;
    margin-left: 46px;
    height: 35px;
    border: 1px solid black;
    position: relative;
    margin-bottom: 20px;
}
marquee{
    font-size: 18px;
    line-height: 35px;
    
}
.pp{
    font-size: 70px;
}
.test::before{
    content: "সর্বশেষ";
    position: absolute;
    top: -1px;
    left: -1-px;
    z-index: 1;
    line-height: 35px;
    font-size: 16px;
    color: white;
    border: 1px solid brown;
    width: 150px;
    height: 100%;
    background-color: brown;
    text-align: center;
}

/*--------conntent----------*/

.content{
    float: left;
    width: 30%;
    margin-left: 40px;
}
.content-1{
    width: 25%;
    float: right;
    margin-right: 40px;
}
.link{
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    
}
.img{
    margin-bottom: 200px;
}
.a1{
    margin-top: 10px;
    text-align: center;
}

.hh{
    background-color: blueviolet;
    color: yellow;
}
.p3{
    font-size: 18px;
}
/*----------page-2------*/
    
.page-2 h4{
    color: red;
    margin-right: 50%;
    margin-left: 40%;
    font-size: 18px;
}
.page-2 h4:hover{
    color: blueviolet;
}
.content-2{
    width: 16.4%;
    float: left;
    padding-top: 15px;
    margin-left: 40px;
}
.hhh{
    color: coral;
    text-align: left;
    background-color: darkslateblue;
    border: 1px solid darkslateblue;
}

/*-------page-3-------*/

.gallary{
    width: 40%;
    float: left;
    margin-left: 40px;
    padding-top: 30px; 
      
}

.pic{
    margin-right: 3%;
    color: red;
    font-size: 36px;
    text-align: center;
    background-color: royalblue;
    width: 94%;
}
.picher{
    margin: 10px ;
    margin-left: 40px;
}
.main-gallary{
    margin-right: 20px;
    float: left;
}
.main{
    margin-left: 40px;
}
.pmain{
    margin-left: 40px;
}